@media (min-width: 76px) {
   div{
      display: flex;
      justify-content: center;
      align-items: center;
   } 
}
@media (min-width: 500px) {
   div{
      .segundo{
         background-color: green;
      }
      .terceiro{
         background-color: purple;
      }
   } 
}